# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask
instance/

# Database
*.db
*.sqlite
*.sqlite3

# Uploaded user files
uploads/
static/uploads/

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
**/uploads/
pet_care.db